/* Your styles here */

/* BODY */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9edee;
}

/* FINE BODY */

/* HEADER */

.logo {
  background-color: #222f3f;
}

.logo img {
  width: 200px;
  padding: 20px;
  padding-left: 30px;
}

.links {
  list-style: none;
  background-color: #364759;
}

.links li {
  display: inline-block;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.links a {
  text-decoration: none;
  color: white;
}

/* FINE HEADER */

/* MAIN */

main {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.text-center {
  text-align: center;
  width: 100%;
}

.bg-yellow {
  color: #eaeded;
  background-color: #f56600;
  font-weight: bold;
}

.py-1 {
  padding: 1rem 0;
}

.background {
  background-image: url(/assets/images/bg-image.png);
  margin-top: 30px;
  text-align: center;
  color: #eaeded;
  padding-bottom: 70px;
  padding-top: 30px;
  background-size: contain;
}

.background h1 {
  font-weight: bold;
  font-size: 2.5em;
  padding-top: 40px;
  padding-bottom: 30px;
}

.background span {
  font-weight: bold;
  font-size: 1.2em;
}

.gifts {
  background-color: white;
  margin-top: 30px;
  padding-left: 20px;
}

.gifts h2 {
  font-weight: bold;
  padding-top: 15px;
  display: inline-block;
  font-size: 1.2em;
  padding-bottom: 15px;
}

.gifts a {
  text-decoration: none;
  padding-left: 10px;
  font-weight: bold;
  color: #427f88;
}

.giftimages {
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

.giftimages img {
  display: inline;
  box-shadow: 5px 5px 10px gray;
}

.item1 {
  width: 300px;
  height: 300px;
  margin-right: 25px;
  border-radius: 20px;
}

.item2 {
  width: 300px;
  height: 300px;
  margin-right: 25px;
  border-radius: 20px;
}

.item3 {
  width: 300px;
  height: 300px;
  margin-right: 25px;
  border-radius: 20px;
}

.item4 {
  width: 300px;
  height: 300px;
  margin-right: 25px;
  border-radius: 20px;
}

.banner1 img {
  margin-top: 30px;
  width: 100%;
}

.banner1 h2 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 10px;
}

.banner1 a {
  padding-left: 20px;
  text-decoration: none;
  color: #427f88;
}

.banner2 img {
  margin-top: 30px;
  width: 100%;
}

.banner2 h2 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 10px;
}

.banner2 a {
  padding-left: 20px;
  text-decoration: none;
  color: #427f88;
}

/* FINE MAIN */

/* FOOTER */

.link {
  list-style: none;
  background-color: #364759;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 50%;
}

.link a {
  color: white;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

.logo2 {
  background-color: #222f3f;
}

.logo2 img {
  width: 200px;
  text-align: center;
  padding-left: 47.2%;
  padding-top: 50px;
  padding-bottom: 60px;
}

/* FINE FOOTER */
